$darkGray: #5D5D5D;
$red: #EA6F6C;
$darkRed: #AA4444;
$blue: #87B8C2;
$darkBlue: #547072;
$yellow: #EDB867;
$darkYellow: #C19457;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
}
.wrapper {
    height: calc(100% - 47px);
    width: calc(100% - 273px);
    float: right;
    transform: translateY(47px);
}
.header {
    background-color: $yellow;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    h1 {
        font-family: 'Open sans', sans-serif;
        color: white;
        font-size: 40px;
        margin-left: 50px;
        display: inline;
        align-self: center;
    }
    p {
        color: white;
        font-family: 'Open sans', sans-serif;
        font-size: 15pt;
        align-self: center;
        margin-right: 100px;
        vertical-align: super;
        b {
            font-size: 50px;
            margin-left: 50px;
        }
    }
}
.admin {
    height: calc(100% - 75px);
    display: flex;
    flex-direction: row;
}
.sidebar {
    height: 100%;
    width: 230px;
    background-color: #E0E0E0;
    a {
        text-decoration: none;
    }
    ul {
        height: 100%;
        li {
            padding-top: 20px;
            height: 60px;
            color: $darkGray;
            font-size: 17px;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            text-align: left;
            padding-left: 20px;
            cursor: pointer;
            list-style: none;
        }
    }
}
#selectedTab {
    background-color: #828282;
    color: white;
}
.studentList {
    height: 100%;
    background-color: white;
    width: 45%;
    flex: 0 0 200px;
    .searchBar {
        height: 40px;
        width: 100%;
        position: relative;
        border-right: 2px solid #F2F2F2;
        img {
            position: absolute;
            top: 7px;
            left: 7px;
        }
        input {
            padding-left: 40px;
            padding-right: 10px;
            height: 100%;
            width: 100%;
            border: none;
            font-size: 20px;
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-style: italic;
            color: $darkGray;
        }
        input:placeholder {
            color: #E0E0E0;
        }
        input:focus {
            outline-width: 0;
        }
    }
    ul {
        height: calc(100% - 40px);
        overflow: scroll;
        li {
            width: 100%;
            padding-left: 20px;
            background-color: #F2F2F2;
            color: $darkGray;
            list-style: none;
            height: 35px;
            padding-top: 5px;
            text-transform: uppercase;
            font-size: 17px;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            cursor: pointer;
        }
        .selectedStudent {
            color: white;
            background-color: #828282;
        }
    }
}
.studentInfo {
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    .merchandiserInfo {
        height: 35%;
        width: 90%;
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        p {
            margin-bottom: 30px;
            font-family: "Lato", sans-serif;
            font-size: 15px;
            width: 100%;
            color: $darkGray;
        }
    }
    .shopperInfo {
        height: 35%;
        width: 90%;
        .shopperOne {
            width: 45%;
            display: inline-block;
            div {
                height: 50px;
                background-color: $red;
                border-radius: 0.07in;
                margin-bottom: 30px;
                position: relative;
                h3 {
                    color: white;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    padding-top: 12px;
                    padding-left: 20px;
                }
                img {
                    position: absolute;
                    top: -3px;
                    left: 190px;
                    height: 43px;
                    margin-top: 10px;
                    margin-left: 25px;
                }
            }
            p {
                color: white;
                font-family: "Lato", sans-serif;
                font-size: 15px;
                width: 100%;
                color: $darkGray;
                margin-bottom: 30px;
            }
        }
        .shopperTwo {
            width: 45%;
            display: inline-block;
            float: right;
            div {
                height: 50px;
                background-color: $blue;
                border-radius: 0.07in;
                margin-bottom: 30px;
                position: relative;
                h3 {
                    color: white;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    padding-top: 12px;
                    padding-left: 20px;
                }
                img {
                    position: absolute;
                    top: -3px;
                    left: 190px;
                    height: 43px;
                    margin-top: 10px;
                    margin-left: 25px;
                }
            }
            p {
                color: white;
                font-family: "Lato", sans-serif;
                font-size: 15px;
                width: 100%;
                color: $darkGray;
                margin-bottom: 30px;
            }
        }
    }
}
.button {
    background-color: $yellow;
    color: white;
    font-family: 'Open Sans', sans-serif;
    height: 50px;
    width: 175px;
    border-radius: 0.07in;
    border: none;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
    text-align: center;
}
.button:hover {
    background-color: $darkYellow;
}
.buttonSmall {
    height: 40px;
    width: 110px;
    font-size: 12px;
    margin-right: 10px;
}
.title {
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: $darkGray;
    margin-top: 20px;
    margin-bottom: 40px;
}
.settings {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    padding-left: 50px;
    .settingsSub {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        margin-bottom: 50px;
        margin-left: -50px;
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h3 {
                font-family: "Lato", sans-serif;
                color: $darkGray;
                font-weight: 600;
                font-size: 21px;
                align-self: center;
                margin: 40px 40px 40px 50px;
            }
            .budgetInput {
                background-color: $darkGray;
                height: 40px;
                width: 300px;
                align-self: center;
                margin-right: 40px;
                display: flex;
                justify-content: space-between;
                p {
                    font-family: "Open Sans", sans-serif;
                    font-size: 25px;
                    color: white;
                    margin-left: 20px;
                    align-self: center;
                    font-weight: 600;
                }
                input {
                    width: 250px;
                    padding-left: 20px;
                    padding-right: 10px;
                    height: 100%;
                    border: none;
                    font-size: 25px;
                    font-family: "Lato", sans-serif;
                    font-weight: 700;
                    color: $darkGray;
                }
            }
            .dateInput {
                background-color: $darkGray;
                height: 40px;
                width: 200px;
                align-self: center;
                margin-right: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                input {
                    height: 100%;
                    width: 50%;
                    background-color: white;
                    padding-left: 20px;
                    padding-right: 10px;
                    height: 100%;
                    border: none;
                    font-family: "Lato", sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    color: $darkGray;
                }
                p {
                    color: white;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 600;
                    margin-left: 25px;
                }
            }
        }
    }
}
.subTitle {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: $darkGray;
    margin-bottom: 20px;
    font-size: 30px;
}
.comparison {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    h1 {
        margin-left: 50px;
    }
}
.tableWrapper {
    height: auto;
    overflow: scroll;
}
.virtualTable {
    color: $darkGray;
    border-collapse: collapse;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    .desc {
        font-weight: 400;
    }
    th {
        padding: 18px 0;
    }
    tr {
        background-color: #F2F2F2;
        font-size: 15px;
    }
    td {
        padding: 15px 30px;
    }
    tr:nth-child(2n+1) {
        background-color: #E0E0E0;
    }
    tr:first-child {
        background-color: $darkGray;
        width: calc(100% - 223px);
        color: white;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 17px;
    }
}
.orderHistory {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    h1 {
        margin-left: 50px;
    }
}
