$darkGray: #5D5D5D;
$red: #EA6F6C;
$darkRed: #AA4444;
$blue: #87B8C2;
$darkBlue: #547072;
$yellow: #EDB867;
$darkYellow: #C19457;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
}
h3 {
    color: $darkGray;
    font-size: 20px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}
.wrapper {
    margin-left: -20px;
    // height: calc(100% - 47px);
    // width: calc(100% - 273px);
    // float: right;
    // transform: translateY(47px);
}
.header {
    background-color: $darkGray;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    h1 {
        font-family: 'Open sans', sans-serif;
        color: white;
        font-size: 40px;
        margin-left: 50px;
        display: inline;
        align-self: center;
    }
    p {
        color: white;
        font-family: 'Open sans', sans-serif;
        font-size: 15pt;
        align-self: center;
        margin-right: 100px;
        vertical-align: super;
        b {
            font-size: 50px;
            margin-left: 50px;
        }
    }
}
.admin {
    height: calc(100% - 75px);
    display: flex;
    flex-direction: row;
}
.sidebar {
    height: 100%;
    width: 230px;
    background-color: #E0E0E0;
    a {
        text-decoration: none;
    }
    ul {
        height: 100%;
        li {
            padding-top: 20px;
            height: 60px;
            color: $darkGray;
            font-size: 17px;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            text-align: left;
            padding-left: 20px;
            cursor: pointer;
            list-style: none;
        }
    }
}
#selectedTab {
    background-color: #828282;
    color: white;
}
.studentList {
    height: 100%;
    background-color: white;
    width: 45%;
    flex: 0 0 200px;
    .searchBar {
        height: 40px;
        width: 100%;
        position: relative;
        border-right: 2px solid #F2F2F2;
        img {
            position: absolute;
            top: 7px;
            left: 7px;
        }
        input {
            padding-left: 40px;
            padding-right: 10px;
            height: 100%;
            width: 100%;
            border: none;
            font-size: 20px;
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-style: italic;
            color: $darkGray;
        }
        input:placeholder {
            color: #E0E0E0;
        }
        input:focus {
            outline-width: 0;
        }
    }
    ul {
        height: calc(100% - 40px);
        overflow: scroll;
        li {
            width: 100%;
            padding-left: 20px;
            background-color: #F2F2F2;
            color: $darkGray;
            list-style: none;
            height: 35px;
            padding-top: 5px;
            text-transform: uppercase;
            font-size: 17px;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            cursor: pointer;
        }
        .selectedStudent {
            color: white;
            background-color: #828282;
        }
    }
}
.facts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    .fact {
        height: 100px;
        width: 130px;
        background-color: #E0E0E0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            margin-top: 15px;
            height: 25px;
        }
        p {
            font-size: 12px;
            font-weight: 700;
            font-family: "Open Sans", sans-serif;
            text-align: center;
            color: $darkGray;
            margin-top: 10px;
        }
    }
}
.studentInfo {
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    .merchandiserInfo {
        height: 38%;
        width: 90%;
        display: flex;
        flex-direction: column;
        section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .merchandiserLeft {
                display: flex;
                flex-direction: column;
                width: 45%;
            }
            .merchandiserRight {
                display: flex;
                flex-direction: column;
                width: 45%;
            }
        }
        span {
            text-align: center;
            margin-top: 20px;
            font-family: "Open Sans", sans-serif;
            color: $darkGray;
        }
    }
    .shopperInfo {
        height: 35%;
        width: 90%;
        .shopperOne {
            width: 45%;
            display: inline-block;
        }
        .shopperTwo {
            width: 45%;
            display: inline-block;
            float: right;
        }
    }
}
.button {
    background-color: $yellow;
    color: white;
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    width: 100%;
    border-radius: 0.07in;
    border: none;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}
.one {
    background-color: $red;
}
.two {
    background-color: $blue;
}
.buttonSmall {
    height: 40px;
    width: 110px;
    font-size: 12px;
    margin-right: 10px;
}
.title {
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: $darkGray;
    margin-top: 20px;
    margin-bottom: 20px;
}
.settings {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    padding-left: 50px;
    .settingsSub {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        margin-bottom: 25px;
        margin-left: -50px;
        margin-top: 20px;
        height: 150px;
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h3 {
                font-family: "Lato", sans-serif;
                color: $darkGray;
                font-weight: 400;
                font-size: 20px;
                align-self: center;
                margin: 40px 40px 40px 50px;
            }
            .budgetInput {
                background-color: $darkGray;
                height: 40px;
                width: 300px;
                align-self: center;
                margin-right: 40px;
                display: flex;
                justify-content: space-between;
                p {
                    font-family: "Open Sans", sans-serif;
                    font-size: 25px;
                    color: white;
                    margin-left: 20px;
                    align-self: center;
                    font-weight: 600;
                }
                input {
                    width: 250px;
                    padding-left: 20px;
                    padding-right: 10px;
                    height: 100%;
                    border: none;
                    font-size: 25px;
                    font-family: "Lato", sans-serif;
                    font-weight: 700;
                    color: $darkGray;
                }
            }
            .dateInput {
                background-color: $darkGray;
                height: 40px;
                width: 300px;
                align-self: center;
                margin-right: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                input {
                    height: 100%;
                    width: 75%;
                    background-color: white;
                    padding-left: 20px;
                    padding-right: 10px;
                    height: 100%;
                    border: none;
                    font-family: "Lato", sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    color: $darkGray;
                }
                p {
                    color: white;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 600;
                    margin-left: 25px;
                }
            }
        }
    }
}
.subTitle {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: $darkGray;
    font-size: 32px;
    margin-bottom: -5px;
}
.comparison {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    h1 {
        margin-left: 50px;
    }
}
.tableWrapper {
    height: auto;
    overflow: scroll;
}
.stats {
    tr {
        th {
            font-size: 14px;
        }
    }
}
.virtualTable {
    color: $darkGray;
    border-collapse: collapse;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: 100%;
    .desc {
        font-weight: 400;
    }
    th {
        padding: 18px 0;
    }
    tr {
        background-color: #F2F2F2;
        font-size: 15px;
    }
    td {
        padding: 15px 30px;
        img {
            height: 25px;
        }
    }
    tr:nth-child(2n+1) {
        background-color: #E0E0E0;
    }
    tr:first-child {
        background-color: $darkGray;
        width: calc(100% - 223px);
        color: white;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 17px;
    }
}
.orderHistory {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    h1 {
        margin-left: 50px;
        margin-right: 100px;
    }
    .orderTable {
        td {
            padding: 15px 50px;
        }
    }
}
.headerButton {
    background-color: $darkGray;
    color: white;
    border: none;
    height: 40px;
    width: 120px;
    align-self: center;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}
.randomize {
    width: 300px;
}
.selectedFilter {
    background-color: #E0E0E0;
    color: $darkGray;
}
.createNew {
    background-color: $yellow;
    margin-left: 50px;
}
.assign {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow: scroll;
    div {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        h1 {
            margin-left: 50px;
            margin-right: 100px;
        }
    }
    .virtualTable {
        td {
            text-align: center;
        }
    }
}
.manage {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow: scroll;
    div {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        h1 {
            margin-left: 50px;
            margin-right: 50px;
        }
    }
    .virtualTable {
        td {
            img {
                cursor: pointer;
            }
        }
    }
}
.dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0 !important;
    color: white;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding: 10px;
    width: 90%;
    border-radius: 0;
    cursor: pointer;
    background: url("../images/dropdownarrow1.svg") no-repeat right center;
    background-color: $yellow;
    background-size: 40px;
    text-align: center;
}
#assignOne {
    background: url("../images/dropdownarrow2.svg") no-repeat right center;
    background-color: $red;
}
#assignTwo {
    background: url("../images/dropdownarrow3.svg") no-repeat right center;
    background-color: $blue;
}
.saveButton {
    background-color: $darkGray;
    color: white;
    height: 50px;
    width: 125px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0.07in;
    border: none;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
    text-align: center;
    align-self: flex-end;
    margin-right: 100px;
}
.createModal {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 400px;
    width: 500px;
    background-color: $darkGray;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    top: 180px;
    box-shadow: 5px 5px 100px black;
    h1 {
        font-family: "Open Sans", sans-serif;
        color: white;
        font-size: 25px;
        margin-bottom: 25px;
    }
    form {
        input[type="text"] {
            border: none;
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            font-family: "Lato", sans-serif;
            color: $darkGray;
            font-weight: 700;
            font-size: 20px;
            padding-left: 20px;
            padding-right: 20px;
            font-style: italic;
        }
        input[type="text"]:placeholder {
            font-family: "Lato", sans-serif;
            color: #E0E0E0;
        }
        input[type="text"]:focus {
            outline-width: 0;
            font-style: normal;
        }
        input[type="submit"] {
            height: 40px;
            width: 100px;
            border: none;
            margin-top: 20px;
            float: right;
            background-color: $yellow;
            color: white;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 15px;
        }
        textarea {
            font-family: "Lato", sans-serif;
            font-weight: 700;
            color: $darkGray;
            font-size: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            width: 100%;
            max-width: 100%;
            height: 100px;
            max-height: 100px;
        }
        textarea:placeholder {
            color: #E0E0E0;
        }
    }
}
