$darkGray: #5D5D5D;
$personaOne: #A3C9BB;
$personaOneDark: #839B91;
$personaTwo: #ABBD78;
$personaTwoDark: #889360;
$mainButton: #E9B364;
$mainButtonDark: #BF9256;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
}
.header {
    background-color: $darkGray;
    height: 75px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    h1 {
        font-family: 'Open sans', sans-serif;
        color: white;
        font-size: 40px;
        margin-left: 75px;
        display: inline;
        align-self: center;
    }
    p {
        color: white;
        font-family: 'Open sans', sans-serif;
        font-size: 15pt;
        align-self: center;
        margin-right: 100px;
        vertical-align: super;
        b {
            font-size: 50px;
            margin-left: 50px;
        }
    }
}
.helpVideoList {
    width: 100%;
    flex: 0 0 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    figure {
        margin-bottom: 20px;
        iframe {
            width: 100%;
            height: inherit;
            margin-bottom: 20px;
        }
        figcaption {
            font-family: "Lato", sans-serif;
            color: $darkGray;
            width: 80%;
            font-size: 15px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            font-style: italic;
        }
    }
    ol {
        padding-right: 10%;
        overflow: scroll;
        li {
            font-family: "Lato", sans-serif;
            color: $darkGray;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            line-height: 1;
            width: 80%;
            margin-left: 18%;
            margin-bottom: 20px;
            p {
                font-family: "Lato", sans-serif;
                color: $darkGray;
                font-size: 17px;
                max-width: 380px;
                cursor: pointer;
            }
            span {
                font-size: 13px;
                padding-left: 50px;
                color: lighten($darkGray, 30%);
            }
        }
    }
}

.currentlyPlaying,
.finished {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        top: 50%;
        transform: translateY(-50%);
        left: -35px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
.finished {
    text-decoration: line-through;
    &::before {
        background-image: url("../images/checkmark.svg");
    }
    span {
        display: none;
    }
}
.currentlyPlaying {
    font-weight: bold;
    &::before {
        background-image: url("../images/play.svg");
        background-size: auto 100%;
    }
}
.time {
    font-size: 15px;
    margin-left: 75px;
    text-decoration: none;
}
.dashboard {
    width: 100%;
    flex: 1 1 auto;
    padding-top: 20px;
    padding-left: 75px;
    overflow: scroll;
    h1 {
        font-family: 'Open sans', sans-serif;
        color: $darkGray;
        font-size: 35px;
        display: inline;
    }
    hr {
        margin-bottom: 10px;
        margin-left: 25px;
        border: $mainButton 1px solid;
        width: 60%;
        display: inline-block;
    }
}
.mainContent {
    display: flex;
    flex-direction: row;
    height: calc(100% - 75px);
}
.myStore {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 20px;
    .myStoreLeft {
        width: 50%;
        flex: 0 0 auto;
        p {
            margin-top: 20px;
            width: 320px;
            font-family: 'Lato', sans-serif;
            font-size: 15px;
            color: $darkGray;
        }
    }
    .myStoreRight {
        width: 50%;
        flex: 0 0 auto;
    }
    section {
        flex-direction: row;
    }
}
.goShopping {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    p {
        margin-top: 20px;
        width: 75%;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        color: $darkGray;
    }
    div:nth-child(2) {
        margin-right: 130px;
    }
    .personaButtons {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width:1300px) {}
// BUTTONS
.button {
    background-color: $mainButton;
    color: white;
    font-family: 'Open Sans', sans-serif;
    height: 50px;
    width: 300px;
    border-radius: 0.07in;
    border: none;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    padding-left: 25px;
    cursor: pointer;
    text-decoration: none;
}
.button:hover {
    background-color: $mainButtonDark;
}
.btnStore {
    margin-bottom: 20px;
}
.persona {
    background-color: $personaOne;
    text-align: left;
    height: 78px;
    width: 300px;
    border-radius: 0.1in;
    padding-left: 25px;
    display: flex;
    h3 {
        font-size: 27px;
        color: white;
        font-family: 'Open Sans', sans-serif;
        padding-top: 20px;
    }
    img {
        height: 68px;
        margin-top: 10px;
        margin-left: 25px;
    }
}
.personaSmall {
    background-color: $personaOne;
    margin-top: 30px;
    margin-right: 20px;
    height: 35px;
    width: 100px;
    font-size: 17px;
}
.personaSmall.one:hover {
    background-color: $personaOneDark;
}
.personaSmall.two:hover {
    background-color: $personaTwoDark;
}
.one {
    background-color: $personaOne;
}
.two {
    background-color: $personaTwo;
}
@media screen and (max-width:1300px) {
    .myStore {
        .myStoreRight {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            align-self: center;
            .btnStore {
                align-self: flex-start;
            }
        }
        .myStoreLeft {
            p {
                width: 70%;
            }
        }
    }
    .button {
        text-align: center;
        width: 250px;
        font-size: 20px;
        padding: 0;
    }
    .btnStore {
        text-align: center;
        width: 250px;
        font-size: 20px;
        padding: 0;
        display: block;
        float: right;
        margin-right: 40px;
        align-self: flex-end;
    }
    .persona {
        width: 250px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        img {
            display: none;
        }
        h3 {
            text-align: center;
            font-size: 22px;
            padding: 0;
        }
    }
    .personaSmall {
        margin-top: 30px;
        margin-right: 20px;
        height: 35px;
        width: 75px;
        font-size: 17px;
    }
}
@media screen and (max-width:1200px) {
    .helpVideoList {
        display: flex;
        justify-content: flex-start;
        flex: 0 0 400px;
        width: 400px;
        figure {
            iframe {
                height: inherit;
                width: 400px;
            }
        }
    }
}
@media screen and (max-width:1000px) {
    .header {
        p {
            span {
                display: none;
            }
        }
    }
}
@media screen and (max-width:1050px) {
    .helpVideoList {
        display: flex;
        justify-content: flex-start;
        flex: 0 0 300px;
        width: 300px;
        figure {
            iframe {
                height: inherit;
                width: 300px;
            }
        }
    }
}
@media screen and (max-width:400px) {
    .mainContent {

        flex-direction: column;
    }
}
@media screen and (max-width:400px) {
    .header {
        h1 {
            font-size: 25px;
            margin-left: 50px;
        }
        p {
            margin-right: 50px;
            b {
                font-size: 30px;
                margin: 0;
            }
        }
    }
    .mainContent {
        display: flex;
        flex-direction: column;
        height: auto;
        .helpVideoList {
            order: 1;
            width: 100%;
            height: 100%;
            display: flex;
            figure {
                margin-bottom: 20px;
                iframe {
                    height: inherit;
                    width: 100%;
                }
                figcaption {}
            }
        }
        .dashboard {
            width: 100%;
            flex: 1 1 auto;
            padding-top: 20px;
            padding-left: 50px;
            .myStore {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                margin-bottom: 20px;
                .myStoreLeft {
                    width: 100%;
                    flex: 0 0 auto;
                    p {
                        width: 90%;
                        margin-bottom: 20px;
                    }
                    .button {
                        width: 300px;
                    }
                }
                .myStoreRight {
                    width: 100%;
                    .button {
                        width: 300px;
                    }
                }
            }
            .goShopping {
                flex-direction: column;
                div {
                    margin-bottom: 50px;
                    div {
                        width: 300px;
                    }
                    p {
                        width: 90%;
                    }
                    button {
                        width: 138px;
                    }
                }
            }
        }
    }
}
.unavailable {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}
