#message {
  display: none !important;
}

.page-id-15485 .site .site-header .navigation-top {
  display: none;
}

.page-id-15487 .site .site-header .navigation-top {
  display: none;
}

.page-id-15489 .site .site-header .navigation-top {
  display: none;
}

.page-id-15493 .site .site-header .navigation-top {
  display: none;
}