#message {
  display: none !important;
}

.page-id-15493 .header-wrap .col-md-8{
  display: none;
}

.page-id-15489 .header-wrap .col-md-8{
  display: none;
}

.page-id-15487 .header-wrap .col-md-8{
  display: none;
}

.page-id-15485 .header-wrap .col-md-8{
  display: none;
}