.disabled {
  opacity: 0.2;
}
.duplicate, .delete, .trash {
  display: none;
}
#delete-action, #duplicate-action {
  display: none;
}
.woocommerce-BlankState a.button-primary{
  display: none !important;
}
.page-title-action {
  display: none !important;
}