<!doctype HTML>
<html>

<head>
    <title>Virtual Store Admin Panel</title>
    <!-- CSS -->
    <link href="../assets/css/adminPanel.css" rel="stylesheet" type="text/css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>

    <div class="wrapper">

        <header class="header">

            <h1>virtual store admin panel</h1>

        </header>

        <main class="admin">

            <nav class="sidebar">
                <ul>
                    <a href="../views/studentInfo.html">
                        <li>STUDENT INFO</li>
                        <li id="selectedTab">ASSIGN PERSONAS</li>
                        <a href="../views/manage.html">
                            <li>MANAGE PERSONAS</li>
                        </a>
                        <a href="../views/settings.html">
                            <li>GENERAL SETTINGS</li>
                        </a>
                </ul>
            </nav>

            <section class="assign">

                <h1 class="title">Assign Personas</h1>

                <div class="tableWrapper">
                    <table class="virtualTable orderTable">
                        <tr>
                            <th>STUDENT</th>
                            <th>BUYER</th>
                            <th>CONSUMER #1</th>
                            <th>CONSUMER #2</th>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>RYAN</td>
                            <td>
                                <select>
                                    <option value="volvo">Single Mom</option>
                                    <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                  <option value="volvo">Single Mom</option>
                                  <option value="volvo">Business Guy</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>


            </section>


        </main>

    </div>



</body>
