<!doctype HTML>
<html>

<head>
    <title>Virtual Store Admin Panel</title>
    <!-- CSS -->
    <link href="../assets/css/adminPanel.css" rel="stylesheet" type="text/css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>

    <div class="wrapper">

        <header class="header">

            <h1>virtual store admin panel</h1>

        </header>

        <main class="admin">

            <nav class="sidebar">
                <ul>
                    <a href="../views/studentInfo.html">
                        <li>STUDENT INFO</li>
                        <a href="../views/assign.html">
                            <li>ASSIGN PERSONAS</li>
                        </a>
                        <a href="../views/manage.html">
                            <li>MANAGE PERSONAS</li>
                        </a>
                        <a href="../views/settings.html">
                            <li>GENERAL SETTINGS</li>
                        </a>
                        <li id="selectedTab">CATEGORIES</li>
                        <a href="../views/users.html">
                            <li>USERS</li>
                        </a>
                </ul>
            </nav>

            <section class="manage">

                <div>
                    <h1 class="title">Manage Categories</h1>
                    <button class="headerButton createNew">CREATE NEW</button>
                </div>

                <section class="createModal">
                    <h1>CREATE NEW</h1>
                    <form action="">
                        <input type="text" placeholder="name">
                        <textarea rows="5" cols="36" placeholder="description"></textarea>
                        <input type="submit" value="SAVE">

                    </form>
                </section>

                <div class="tableWrapper">
                    <table class="virtualTable orderTable">
                        <tr>
                            <th>TITLE</th>
                            <th>DESCRIPTION</th>
                        <tr>
                            <td>Single Mom 35</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                    </table>
                </div>

            </section>



        </main>


    </div>


</body>
