<!doctype HTML>
<html>

<head>
    <title>Virtual Store Admin Panel</title>
    <!-- CSS -->
    <link href="../assets/css/adminPanel.css" rel="stylesheet" type="text/css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700" rel="stylesheet">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/virtualStore.js"></script>

</head>

<body>

    <div class="wrapper">

        <header class="header">

            <h1>virtual store admin panel</h1>

        </header>

        <main class="admin">
            <nav class="sidebar">
                <ul>
                    <a href="../views/studentInfo.html">
                        <li id="selectedTab">STUDENT INFO</li>
                        <a href="../views/assign.html">
                            <li>ASSIGN PERSONAS</li>
                        </a>
                        <a href="../views/manage.html">
                            <li>MANAGE PERSONAS</li>
                        </a>
                        <a href="../views/settings.html">
                            <li>GENERAL SETTINGS</li>
                        </a>
                        <a href="../views/categories.html">
                            <li>CATEGORIES</li>
                        </a>
                        <a href="../views/users.html">
                            <li>USERS</li>
                        </a>
                </ul>
            </nav>

            <section class="comparison">

                <h1 class="title">Ryan Bitzegaio Statistics</h1>

                <div class="tableWrapper">
                    <table class="virtualTable stats">
                        <tr>
                            <th>ITEMS</th>
                            <th>#PURCH</th>
                            <th>#SOLD</th>
                            <th>OLD PRICE</th>
                            <th>NEW PRICE</th>
                            <th>NEW DESC.</th>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td>50</td>
                            <td>36</td>
                            <td>$2.99</td>
                            <td>$5.99</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td>50</td>
                            <td>36</td>
                            <td>$2.99</td>
                            <td>$5.99</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td>50</td>
                            <td>36</td>
                            <td>$2.99</td>
                            <td>$5.99</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td>50</td>
                            <td>36</td>
                            <td>$2.99</td>
                            <td>$5.99</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td>50</td>
                            <td>36</td>
                            <td>$2.99</td>
                            <td>$5.99</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td>50</td>
                            <td>36</td>
                            <td>$2.99</td>
                            <td>$5.99</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td>50</td>
                            <td>36</td>
                            <td>$2.99</td>
                            <td>$5.99</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td>50</td>
                            <td>36</td>
                            <td>$2.99</td>
                            <td>$5.99</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td>50</td>
                            <td>36</td>
                            <td>$2.99</td>
                            <td>$5.99</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td>50</td>
                            <td>36</td>
                            <td>$2.99</td>
                            <td>$5.99</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td>50</td>
                            <td>36</td>
                            <td>$2.99</td>
                            <td>$5.99</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td>50</td>
                            <td>36</td>
                            <td>$2.99</td>
                            <td>$5.99</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                        </tr>
                    </table>
                </div>


            </section>

        </main>
    </div>


</body>
