<!doctype HTML>
<html>

<head>
    <title>Virtual Store</title>
    <!-- CSS -->
    <link href="../assets/css/stylesheet.css" rel="stylesheet" type="text/css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>

    <header class="storeHeader">

        <h1>virtual store</h1>
        <p>time left until shopping begins : <b>2:59:59</b></p>

    </header>

    <div class="mainContent">


        <aside class="helpVideoList">

            <figure>
                <img src="../assets/images/bg.jpg"></iframe>
                <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum.</figcaption>
            </figure>

            <ol>
                <li class="finished">
                    <p>Do the first thing</p><span>1:45</span>
                </li>
                <li class="currentlyPlaying">
                    <p>Do the second thing</p><span>1:45</span>
                </li>
                <li>
                    <p>This is a super long video title that's gonna tell you a bunch of stuff to do.</p><span>1:45</span>
                </li>
                <li>
                    <p>Go to this other place</p><span>1:45</span>
                </li>
            </ol>

        </aside>

        <main class="dashboard">

            <h1>my store</h1>
            <!-- <hr> -->
            <section class="myStore">


                <div class="myStoreLeft">

                    <button class="button">WAREHOUSE</button>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus.
                        <br>
                        <br><b>budget: $100,000</b>
                    </p>
                </div>
                <div class="myStoreRight">

                    <button class="button btnStore">EDIT STORE</button>
                    <button class="button btnStore">VIEW STORE</button>
                    <button class="button btnStore">STORE STATS</button>

                </div>


            </section>

            <h1>go shopping</h1>
            <!-- <hr> -->
            <section class="goShopping">


                <div>

                    <div class="persona one">
                        <h3>PERSONA #1</h3>
                        <img src="../assets/images/personaRed.png" alt="">
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus.
                        <br>
                        <br><b>persona budget: $10,000</b></p>
                    <button class="button personaSmall one">SHOP</button>
                    <button class="button personaSmall one">STATS</button>

                </div>

                <div>

                    <div class="persona two">
                        <h3>PERSONA #2</h3>
                        <img src="../assets/images/personaBlue.png" alt="">
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus.
                        <br>
                        <br><b>persona budget: $10,000</b></p>
                    <button class="button personaSmall two">SHOP</button>
                    <button class="button personaSmall two">STATS</button>

                </div>

            </section>

        </main>

    </div>




</body>
