<!doctype HTML>
<html>

<head>
    <title>Virtual Store Admin Panel</title>
    <!-- CSS -->
    <link href="../assets/css/adminPanel.css" rel="stylesheet" type="text/css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>

    <div class="wrapper">

        <header class="header">

            <h1>virtual store admin panel</h1>

        </header>

        <main class="admin">

            <nav class="sidebar">
                <ul>
                    <a href="../views/studentInfo.html">
                        <li>STUDENT INFO</li>
                        <a href="../views/assign.html">
                            <li>ASSIGN PERSONAS</li>
                        </a>
                        <li id="selectedTab">MANAGE PERSONAS</li>
                        <a href="../views/settings.html">
                            <li>GENERAL SETTINGS</li>
                        </a>
                </ul>
            </nav>

            <section class="manage">

                <div>
                    <h1 class="title">Manage Personas</h1>
                    <button class="headerButton">CONSUMER</button>
                    <button class="headerButton selectedFilter">BUYER</button>
                </div>

                <div class="tableWrapper">
                    <table class="virtualTable orderTable">
                        <tr>
                            <th>TITLE</th>
                            <th>BUDGET</th>
                            <th>DESCRIPTION</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td>$35.00</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td><img src="../assets/images/pencil.svg" alt=""></td>
                            <td><img src="../assets/images/trash.svg" alt=""></td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td>$35.00</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td><img src="../assets/images/pencil.svg" alt=""></td>
                            <td><img src="../assets/images/trash.svg" alt=""></td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td>$35.00</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td><img src="../assets/images/pencil.svg" alt=""></td>
                            <td><img src="../assets/images/trash.svg" alt=""></td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td>$35.00</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td><img src="../assets/images/pencil.svg" alt=""></td>
                            <td><img src="../assets/images/trash.svg" alt=""></td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td>$35.00</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td><img src="../assets/images/pencil.svg" alt=""></td>
                            <td><img src="../assets/images/trash.svg" alt=""></td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td>$35.00</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td><img src="../assets/images/pencil.svg" alt=""></td>
                            <td><img src="../assets/images/trash.svg" alt=""></td>
                        </tr>
                        <tr>
                            <td>Single Mom 35</td>
                            <td>$35.00</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td><img src="../assets/images/pencil.svg" alt=""></td>
                            <td><img src="../assets/images/trash.svg" alt=""></td>
                        </tr>
                    </table>
                </div>

            </section>



        </main>


    </div>


</body>
