<!doctype HTML>
<html>

<head>
    <title>Virtual Store Admin Panel</title>
    <!-- CSS -->
    <link href="../assets/css/adminPanel.css" rel="stylesheet" type="text/css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>

<div class="wrapper">

  <header class="header">

      <h1>virtual store admin panel</h1>

  </header>

  <main class="admin">

      <nav class="sidebar">
          <ul>
            <a href="../views/studentInfo.html"><li>STUDENT INFO</li>
            <a href="../views/assign.html"><li>ASSIGN PERSONAS</li></a>
            <li id="selectedTab">MANAGE PERSONAS</li>
            <a href="../views/settings.html"><li>GENERAL SETTINGS</li></a>
          </ul>
      </nav>

  </main>


</div>


</body>
