<html>

<head>
    <title>Virtual Store Admin Panel</title>
    <!-- CSS -->
    <link href="../assets/css/adminPanel.css" rel="stylesheet" type="text/css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700" rel="stylesheet">
    <!-- JS -->
    <script type="text/javascript" src="../assets/virtualStore.js"></script>
</head>

<body>

    <div class="wrapper">

        <header class="header">

            <h1>virtual store admin panel</h1>

        </header>

        <main class="admin">
            <nav class="sidebar">
                <ul>
                    <a href="../views/studentInfo.html">
                        <li>STUDENT INFO</li>
                        <a href="../views/assign.html">
                            <li>ASSIGN PERSONAS</li>
                        </a>
                        <a href="../views/manage.html">
                            <li>MANAGE PERSONAS</li>
                        </a>
                        <li id="selectedTab">GENERAL SETTINGS</li>
                </ul>
            </nav>

            <section class="orderHistory">

                <h1 class="title">Ryan Bitzegaio</h1>

                <div class="tableWrapper">
                    <table class="virtualTable">
                        <tr>
                            <th>ITEMS</th>
                            <th>DESCRIPTION</th>
                            <th>PRICE</th>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td>$2.99</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td>$2.99</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td>$2.99</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td>$2.99</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td>$2.99</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td>$2.99</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td>$2.99</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td>$2.99</td>
                        </tr>
                        <tr>
                            <td>WHITE DRESS</td>
                            <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                            <td>$2.99</td>
                        </tr>
                    </table>
                </div>

            </section>

        </main>
    </div>


</body>
