<!doctype HTML>
<html>

<head>
    <title>Virtual Store Admin Panel</title>
    <!-- CSS -->
    <link href="../assets/css/adminPanel.css" rel="stylesheet" type="text/css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>

    <div class="wrapper">

        <header class="header">

            <h1>virtual store admin panel</h1>

        </header>

        <main class="admin">

            <nav class="sidebar">
                <ul>
                    <a href="../views/studentInfo.html">
                        <li>STUDENT INFO</li>
                        <a href="../views/merchandiser.html">
                            <li>MERCHANDISER</li>
                        </a>
                        <a href="../views/assign.html">
                            <li>ASSIGN PERSONAS</li>
                        </a>
                        <a href="../views/manage.html">
                            <li>MANAGE PERSONAS</li>
                        </a>
                        <li id="selectedTab">GENERAL SETTINGS</li>
                </ul>
            </nav>

            <section class="settings">

                <h1>General Settings</h1>
                <h2>budgets</h2>
                <section class="budgets">
                    <h3>DEFAULT MERCHANDISER BUDGET</h3>
                    <div></div>
                    <h3>DEFAULT PERSONA BUDGET</h3>
                    <div></div>
                </section>
                <h2>shopping time</h2>
                <section class="shoppingTime">

                    <h3>MERCHANDISER TIMES</h3>
                    <div></div>
                    <h3>SHOPPER TIMES</h3>
                    <div></div>

                </section>

            </section>

        </main>



    </div>

</body>
