<!doctype HTML>
<html>

<head>
    <title>Virtual Store</title>
    <!-- CSS -->
    <link href="../assets/css/dashboard.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/budgetBar.css" rel="stylesheet" type="text/css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>

    <header class="header">

        <h1>virtual store</h1>

    </header>

    <div class="stats">

        <h1>Persona One Stats</h1>

        <div class="tableWrapper">
            <table class="virtualTable">
                <tr>
                    <th>ITEMS</th>
                    <th>#PURCH</th>
                    <th>#SOLD</th>
                    <th>OLD PRICE</th>
                    <th>NEW PRICE</th>
                    <th>NEW DESC.</th>
                </tr>
                <tr>
                    <td>WHITE DRESS</td>
                    <td>50</td>
                    <td>36</td>
                    <td>$2.99</td>
                    <td>$5.99</td>
                    <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                </tr>
                <tr>
                    <td>WHITE DRESS</td>
                    <td>50</td>
                    <td>36</td>
                    <td>$2.99</td>
                    <td>$5.99</td>
                    <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                </tr>
                <tr>
                    <td>WHITE DRESS</td>
                    <td>50</td>
                    <td>36</td>
                    <td>$2.99</td>
                    <td>$5.99</td>
                    <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                </tr>
                <tr>
                    <td>WHITE DRESS</td>
                    <td>50</td>
                    <td>36</td>
                    <td>$2.99</td>
                    <td>$5.99</td>
                    <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                </tr>
                <tr>
                    <td>WHITE DRESS</td>
                    <td>50</td>
                    <td>36</td>
                    <td>$2.99</td>
                    <td>$5.99</td>
                    <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                </tr>
                <tr>
                    <td>WHITE DRESS</td>
                    <td>50</td>
                    <td>36</td>
                    <td>$2.99</td>
                    <td>$5.99</td>
                    <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                </tr>
                <tr>
                    <td>WHITE DRESS</td>
                    <td>50</td>
                    <td>36</td>
                    <td>$2.99</td>
                    <td>$5.99</td>
                    <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                </tr>
                <tr>
                    <td>WHITE DRESS</td>
                    <td>50</td>
                    <td>36</td>
                    <td>$2.99</td>
                    <td>$5.99</td>
                    <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                </tr>
                <tr>
                    <td>WHITE DRESS</td>
                    <td>50</td>
                    <td>36</td>
                    <td>$2.99</td>
                    <td>$5.99</td>
                    <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                </tr>
                <tr>
                    <td>WHITE DRESS</td>
                    <td>50</td>
                    <td>36</td>
                    <td>$2.99</td>
                    <td>$5.99</td>
                    <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                </tr>
                <tr>
                    <td>WHITE DRESS</td>
                    <td>50</td>
                    <td>36</td>
                    <td>$2.99</td>
                    <td>$5.99</td>
                    <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                </tr>
                <tr>
                    <td>WHITE DRESS</td>
                    <td>50</td>
                    <td>36</td>
                    <td>$2.99</td>
                    <td>$5.99</td>
                    <td class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus</td>
                </tr>
            </table>
        </div>

    </div>

</body>

</html>
