<!doctype HTML>
<html>

<head>
    <title>Virtual Store Admin Panel</title>
    <!-- CSS -->
    <link href="../assets/css/adminPanel.css" rel="stylesheet" type="text/css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>

    <div class="wrapper">

        <header class="header">

            <h1>virtual store admin panel</h1>

        </header>

        <main class="admin">

            <nav class="sidebar">
                <ul>
                    <li id="selectedTab">STUDENT INFO</li>
                    <a href="../views/merchandiser.html">
                        <li>MERCHANDISER</li>
                    </a>
                    <a href="../views/assign.html">
                        <li>ASSIGN PERSONAS</li>
                    </a>
                    <a href="../views/manage.html">
                        <li>MANAGE PERSONAS</li>
                    </a>
                    <a href="../views/settings.html">
                        <li>GENERAL SETTINGS</li>
                    </a>
                </ul>
            </nav>
            <aside class="studentList">
                <div class="searchBar">
                    <img src="../assets/images/search.svg" alt="">
                    <input type="text" placeholder="search">
                </div>
                <ul>
                    <li>Corey</li>
                    <li>Madde</li>
                    <li class="selectedStudent">Ryan</li>
                    <li>Bob</li>
                    <li>Suzy</li>
                    <li>Sue</li>
                    <li>Sally</li>
                    <li>Charity</li>
                    <li>Eddie</li>
                    <li>Leah</li>
                    <li>Seth</li>
                    <li>Brandon</li>
                    <li>Tyler</li>
                    <li>Vivien</li>
                    <li>Bradley</li>
                    <li>Jolee</li>
                    <li>Blake</li>
                    <li>Jacob</li>
                    <li>Alex</li>
                    <li>Aaron</li>
                    <li>Luke</li>
                    <li>Lucas</li>
                    <li>Riley</li>
                    <li>Piley</li>
                    <li>Jacob</li>
                    <li>Kenny</li>
                    <li>Richard</li>
                    <li>Rachel</li>
                    <li>Joe</li>
                    <li>Jana</li>
                    <li>Grace</li>
                    <li>Sydney</li>
                    <li>Lindsey</li>
                    <li>Nolan</li>
                    <li>Benjamin</li>
                    <li>TJ</li>
                    <li>Nick</li>
                    <li>Julius</li>
                    <li>DJ</li>
                    <li>Bryon</li>
                    <li>Rob</li>
                    <li>Stuart</li>
                    <li>Alexander</li>
                    <li>Matt</li>
                    <li>New Seth</li>
                    <li>Kelly</li>
                    <li>Miller</li>
                    <li>Sam</li>
                    <li>Chris</li>
                    <li>Christina</li>
                    <li>Scott</li>
                    <li>Sammy</li>
                </ul>
            </aside>
            <section class="studentInfo">

                <h1>Ryan Bitzegaio</h1>
                <section class="merchandiserInfo">
                    <h2 class="subTitle">merchandiser</h2>
                    <p><strong>you are:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh eu pellentesque interdum. Sed pulvinar orci lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuadxa nibh
                        eu pellentesque interdum. Sed pulvinar orci lacus.</p>
                    <div>
                        <button class="button">PERSONAL SITE</button>
                        <button class="button">COMPARISON</button>
                        <button class="button">FINAL SURVEY</button>
                    </div>

                </section>
                <section class="shopperInfo">
                    <h2 class="subTitle">shopper</h2>
                    <aside class="shopperOne">
                        <div>
                            <h3>SHOPPER #1</h3>
                            <img src="../assets/images/personaRed.png" alt="">
                        </div>
                        <p><strong>you are:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada nibh eu pellentesque interdum. Sed pulvinar orci lacus.</p>
                        <button class="button buttonSmall">ORDER HISTORY</button>
                        <button class="button buttonSmall">SURVEY</button>
                    </aside>
                    <aside class="shopperTwo">
                        <div>
                            <h3>SHOPPER #2</h3>
                            <img src="../assets/images/personaBlue.png" alt="">
                        </div>
                        <p><strong>you are:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada nibh eu pellentesque interdum. Sed pulvinar orci lacus.</p>
                        <button class="button buttonSmall">ORDER HISTORY</button>
                        <button class="button buttonSmall">SURVEY</button>
                    </aside>
                </section>

            </section>

        </main>

    </div>

</body>
