<!doctype HTML>
<html>

<head>
    <title>Virtual Store Admin Panel</title>
    <!-- CSS -->
    <link href="../assets/css/adminPanel.css" rel="stylesheet" type="text/css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>

    <div class="wrapper">

        <header class="header">

            <h1>virtual store admin panel</h1>

        </header>

        <main class="admin">

            <nav class="sidebar">
                <ul>
                    <li id="selectedTab">STUDENT INFO</li>
                    <a href="../views/assign.html">
                        <li>ASSIGN PERSONAS</li>
                    </a>
                    <a href="../views/manage.html">
                        <li>MANAGE PERSONAS</li>
                    </a>
                    <a href="../views/settings.html">
                        <li>GENERAL SETTINGS</li>
                    </a>
                    <a href="../views/categories.html">
                        <li>CATEGORIES</li>
                    </a>
                    <a href="../views/users.html">
                        <li>USERS</li>
                    </a>
                </ul>
            </nav>
            <aside class="studentList">
                <div class="searchBar">
                    <img src="../assets/images/search.svg" alt="">
                    <input type="text" placeholder="search">
                </div>
                <ul>
                    <li>Corey</li>
                    <li>Madde</li>
                    <li class="selectedStudent">Ryan</li>
                    <li>Bob</li>
                    <li>Suzy</li>
                    <li>Sue</li>
                    <li>Sally</li>
                    <li>Charity</li>
                    <li>Eddie</li>
                    <li>Leah</li>
                    <li>Seth</li>
                    <li>Brandon</li>
                    <li>Tyler</li>
                    <li>Vivien</li>
                    <li>Bradley</li>
                    <li>Jolee</li>
                    <li>Blake</li>
                    <li>Jacob</li>
                    <li>Alex</li>
                    <li>Aaron</li>
                    <li>Luke</li>
                    <li>Lucas</li>
                    <li>Riley</li>
                    <li>Piley</li>
                    <li>Jacob</li>
                    <li>Kenny</li>
                    <li>Richard</li>
                    <li>Rachel</li>
                    <li>Joe</li>
                    <li>Jana</li>
                    <li>Grace</li>
                    <li>Sydney</li>
                    <li>Lindsey</li>
                    <li>Nolan</li>
                    <li>Benjamin</li>
                    <li>TJ</li>
                    <li>Nick</li>
                    <li>Julius</li>
                    <li>DJ</li>
                    <li>Bryon</li>
                    <li>Rob</li>
                    <li>Stuart</li>
                    <li>Alexander</li>
                    <li>Matt</li>
                    <li>New Seth</li>
                    <li>Kelly</li>
                    <li>Miller</li>
                    <li>Sam</li>
                    <li>Chris</li>
                    <li>Christina</li>
                    <li>Scott</li>
                    <li>Sammy</li>
                </ul>
            </aside>
            <section class="studentInfo">

                <h1 class="title">Ryan Bitzegaio</h1>

                <section class="merchandiserInfo">
                    <h2 class="subTitle">buyer</h2>
                    <h3>men's business</h3>
                    <section>
                        <aside class="merchandiserLeft">
                            <button class="button">PERSONAL SITE</button>
                            <button class="button">FINAL SURVEY</button>
                            <span><b>BUDGET REMAINING:</b> $12,000</span>
                        </aside>
                        <aside class="merchandiserRight">
                            <section class="facts">
                                <div class="fact">
                                    <img src="../assets/images/dollarSign.svg" alt="">
                                    <p>$450 <br>PROFIT</p>
                                </div>
                                <div class="fact">
                                    <img src="../assets/images/shoppingBag.svg" alt="">
                                    <p>52 <br>SHOPPERS</p>
                                </div>
                            </section>
                            <a href="../views/comparison.html"><button class="button">STATISTICS</button></a>
                        </aside>
                    </section>
                </section>

                <section class="shopperInfo">

                    <aside class="shopperOne">
                        <h2 class="subTitle">consumer #1</h2>
                        <h3>single mom</h3>
                        <a href="../views/orderHistory.html"><button class="button one">ORDER HISTORY</button></a>
                        <button class="button one">FINAL SURVEY</button>
                        <section class="facts">
                          <div class="fact">
                              <img src="../assets/images/dollarSign.svg" alt="">
                              <p>$450 <br>REMAINING</p>
                          </div>
                          <div class="fact">
                              <img src="../assets/images/shoppingBag.svg" alt="">
                              <p>52 <br>ITEMS BOUGHT</p>
                          </div>
                        </section>
                    </aside>

                    <aside class="shopperTwo">
                        <h2 class="subTitle">consumer #2</h2>
                        <h3>business guy</h3>
                        <a href="../views/orderHistory.html"><button class="button two">ORDER HISTORY</button></a>
                        <button class="button two">FINAL SURVEY</button>
                        <section class="facts">
                          <div class="fact">
                              <img src="../assets/images/dollarSign.svg" alt="">
                              <p>$4,500 <br>REMAINING</p>
                          </div>
                          <div class="fact">
                              <img src="../assets/images/shoppingBag.svg" alt="">
                              <p>52 <br>ITEMS BOUGHT</p>
                          </div>
                        </section>

                    </aside>

                </section>

            </section>

        </main>

    </div>

</body>
