* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

.header {
  background-color: #EDB867;
  height: 75px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row; }
  .header h1 {
    font-family: 'Open sans', sans-serif;
    color: white;
    font-size: 40px;
    margin-left: 50px;
    display: inline;
    align-self: center; }
  .header p {
    color: white;
    font-family: 'Open sans', sans-serif;
    font-size: 15pt;
    align-self: center;
    margin-right: 100px;
    vertical-align: super; }
    .header p b {
      font-size: 50px;
      margin-left: 50px; }

.admin {
  height: calc(100% - 75px);
  width: 100%;
  display: flex;
  flex-direction: row; }

.sidebar {
  height: calc(100% - 75px);
  width: 17%;
  background-color: #E0E0E0;
  position: absolute; }
  .sidebar a {
    text-decoration: none; }
  .sidebar ul {
    height: 100%; }
    .sidebar ul li {
      padding-top: 20px;
      height: 60px;
      color: #5D5D5D;
      font-size: 17px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      text-align: left;
      padding-left: 20px;
      cursor: pointer;
      list-style: none; }

#selectedTab {
  background-color: #828282;
  color: white; }

.studentList {
  height: 100%;
  width: 15%;
  background-color: white;
  margin-left: 17%; }
  .studentList .searchBar {
    height: 40px;
    width: calc(100% - 1px);
    position: relative;
    border-right: 2px solid #F2F2F2; }
    .studentList .searchBar img {
      position: absolute;
      top: 7px;
      left: 7px; }
    .studentList .searchBar input {
      padding-left: 40px;
      padding-right: 10px;
      height: 100%;
      width: 100%;
      border: none;
      font-size: 20px;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-style: italic;
      color: #5D5D5D; }
    .studentList .searchBar input:placeholder {
      color: #E0E0E0; }
    .studentList .searchBar input:focus {
      outline-width: 0; }
  .studentList ul {
    height: calc(100% - 40px);
    overflow: scroll; }
    .studentList ul li {
      width: 100%;
      padding-left: 20px;
      background-color: #F2F2F2;
      color: #5D5D5D;
      list-style: none;
      height: 35px;
      padding-top: 5px;
      text-transform: uppercase;
      font-size: 17px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      cursor: pointer; }
    .studentList ul .selectedStudent {
      color: white;
      background-color: #828282; }

.studentInfo {
  height: 100%;
  width: 70%;
  padding-left: 50px;
  display: flex;
  flex-direction: column; }
  .studentInfo h1 {
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #5D5D5D;
    margin-top: 20px;
    margin-bottom: 30px; }
  .studentInfo .merchandiserInfo {
    height: 35%;
    width: 85%; }
    .studentInfo .merchandiserInfo div {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .studentInfo .merchandiserInfo h2 {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      color: #5D5D5D;
      margin-bottom: 30px;
      font-size: 30px; }
    .studentInfo .merchandiserInfo p {
      margin-bottom: 30px;
      font-family: "Lato", sans-serif;
      font-size: 15px;
      width: 100%;
      color: #5D5D5D; }
  .studentInfo .shopperInfo {
    height: 35%;
    width: 85%; }
    .studentInfo .shopperInfo h2 {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      color: #5D5D5D;
      margin-bottom: 30px;
      font-size: 30px; }
    .studentInfo .shopperInfo .shopperOne {
      width: 40%;
      display: inline-block; }
      .studentInfo .shopperInfo .shopperOne div {
        height: 50px;
        background-color: #EA6F6C;
        border-radius: 0.07in;
        margin-bottom: 30px;
        position: relative; }
        .studentInfo .shopperInfo .shopperOne div h3 {
          color: white;
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          font-size: 25px;
          padding-top: 7px;
          padding-left: 25px; }
        .studentInfo .shopperInfo .shopperOne div img {
          position: absolute;
          top: -3px;
          left: 230px;
          height: 43px;
          margin-top: 10px;
          margin-left: 25px; }
      .studentInfo .shopperInfo .shopperOne p {
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        width: 100%;
        color: #5D5D5D;
        margin-bottom: 30px; }
    .studentInfo .shopperInfo .shopperTwo {
      width: 40%;
      display: inline-block;
      float: right; }
      .studentInfo .shopperInfo .shopperTwo div {
        height: 50px;
        background-color: #87B8C2;
        border-radius: 0.07in;
        margin-bottom: 30px;
        position: relative; }
        .studentInfo .shopperInfo .shopperTwo div h3 {
          color: white;
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          font-size: 25px;
          padding-top: 7px;
          padding-left: 25px; }
        .studentInfo .shopperInfo .shopperTwo div img {
          position: absolute;
          top: -3px;
          left: 230px;
          height: 43px;
          margin-top: 10px;
          margin-left: 25px; }
      .studentInfo .shopperInfo .shopperTwo p {
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        width: 100%;
        color: #5D5D5D;
        margin-bottom: 30px; }

.button {
  background-color: #EDB867;
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 50px;
  width: 220px;
  border-radius: 0.07in;
  border: none;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
  text-align: center; }

.button:hover {
  background-color: #C19457; }

.buttonSmall {
  height: 30px;
  width: 120px;
  font-size: 13px;
  margin-right: 10px; }
