* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

.header {
  background-color: #5D5D5D;
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row; }
  .header h1 {
    font-family: 'Open sans', sans-serif;
    color: white;
    font-size: 40px;
    margin-left: 75px;
    display: inline;
    align-self: center; }
  .header p {
    color: white;
    font-family: 'Open sans', sans-serif;
    font-size: 15pt;
    align-self: center;
    margin-right: 100px;
    vertical-align: super; }
    .header p b {
      font-size: 50px;
      margin-left: 50px; }

.helpVideoList {
  width: 500px;
  flex: 0 0 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2; }
  .helpVideoList figure {
    margin-bottom: 20px; }
    .helpVideoList figure img {
      height: 281px;
      margin-bottom: 20px; }
    .helpVideoList figure figcaption {
      font-family: "Lato", sans-serif;
      color: #5D5D5D;
      width: 80%;
      font-size: 15px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      font-style: italic; }
  .helpVideoList ol {
    padding-right: 10%; }
    .helpVideoList ol li {
      font-family: "Lato", sans-serif;
      color: #5D5D5D;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      line-height: 1;
      width: 80%;
      margin-left: 18%;
      margin-bottom: 20px; }
      .helpVideoList ol li p {
        font-family: "Lato", sans-serif;
        color: #5D5D5D;
        font-size: 17px;
        max-width: 380px; }
      .helpVideoList ol li span {
        font-size: 13px;
        padding-left: 50px;
        color: #aaaaaa; }

.currentlyPlaying,
.finished {
  position: relative; }
  .currentlyPlaying::before,
  .finished::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center; }

.finished {
  text-decoration: line-through; }
  .finished::before {
    background-image: url("../images/checkmark.svg"); }
  .finished span {
    display: none; }

.currentlyPlaying {
  font-weight: bold; }
  .currentlyPlaying::before {
    background-image: url("../images/play.svg");
    background-size: auto 100%; }

.time {
  font-size: 15px;
  margin-left: 75px;
  text-decoration: none; }

.dashboard {
  width: 100%;
  flex: 1 1 auto;
  padding-top: 20px;
  padding-left: 75px; }
  .dashboard h1 {
    font-family: 'Open sans', sans-serif;
    color: #5D5D5D;
    font-size: 35px;
    display: inline; }
  .dashboard hr {
    margin-bottom: 10px;
    margin-left: 25px;
    border: #EDB867 1px solid;
    width: 60%;
    display: inline-block; }

.mainContent {
  display: flex;
  flex-direction: row;
  height: calc(100% - 100px); }

.myStore {
  display: flex;
  flex-direction: row;
  margin-top: 30px; }
  .myStore .myStoreLeft {
    width: 35%;
    margin-right: 15%;
    flex: 0 0 auto; }
    .myStore .myStoreLeft p {
      margin-top: 20px;
      width: 320px;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      color: #5D5D5D; }
  .myStore .myStoreRight {
    width: 35%;
    flex: 0 0 auto; }
  .myStore section {
    flex-direction: row; }

.goShopping {
  display: flex;
  flex-direction: row;
  margin-top: 30px; }
  .goShopping p {
    margin-top: 20px;
    width: 75%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #5D5D5D; }

@media screen and (max-width: 1300px) {
  .myStore .myStoreRight {
    align-self: center;
    width: 40%; }
  .myStore .myStoreLeft p {
    width: 100%; } }

@media screen and (max-width: 1220px) {
  .myStore .myStoreRight {
    align-self: center;
    width: 40%; }
  .myStore .myStoreLeft p {
    width: 100%; } }

.button {
  background-color: #EDB867;
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 50px;
  width: 300px;
  border-radius: 0.07in;
  border: none;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  padding-left: 25px;
  cursor: pointer; }

.button:hover {
  background-color: #C19457; }

.btnStore {
  margin-bottom: 20px; }

.persona {
  background-color: #EA6F6C;
  text-align: left;
  height: 78px;
  width: 300px;
  border-radius: 0.1in;
  padding-left: 25px;
  display: flex; }
  .persona h3 {
    font-size: 27px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px; }
  .persona img {
    height: 68px;
    margin-top: 10px;
    margin-left: 40px; }

.personaSmall {
  background-color: #EA6F6C;
  margin-top: 30px;
  margin-right: 20px;
  height: 35px;
  width: 100px;
  font-size: 17px; }

.personaSmall.one:hover {
  background-color: #AA4444; }

.personaSmall.two:hover {
  background-color: #547072; }

.one {
  background-color: #EA6F6C; }

.two {
  background-color: #87B8C2; }

@media screen and (max-width: 1300px) {
  .button {
    text-align: center;
    width: 200px;
    font-size: 20px;
    padding: 0; }
  .btnStore {
    text-align: center;
    width: 200px;
    font-size: 20px;
    padding: 0;
    display: block;
    float: right;
    margin-right: 40px;
    align-self: center; }
  .persona {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; }
    .persona img {
      display: none; }
    .persona h3 {
      text-align: center;
      font-size: 22px;
      padding: 0; } }
