* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

.storeHeader {
  background-color: #5D5D5D;
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row; }
  .storeHeader h1 {
    font-family: 'Open sans', sans-serif;
    color: white;
    font-size: 40px;
    margin-left: 75px;
    display: inline;
    align-self: center; }
  .storeHeader p {
    color: white;
    font-family: 'Open sans', sans-serif;
    font-size: 15pt;
    align-self: center;
    margin-right: 100px;
    vertical-align: super; }
    .storeHeader p b {
      font-size: 50px;
      margin-left: 50px; }

.helpVideoList {
  width: 500px;
  flex: 0 0 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2; }
  .helpVideoList figure {
    margin-bottom: 20px; }
    .helpVideoList figure img {
      height: 281px;
      margin-bottom: 20px; }
    .helpVideoList figure figcaption {
      font-family: "Lato", sans-serif;
      color: #5D5D5D;
      width: 80%;
      font-size: 15px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      font-style: italic; }
  .helpVideoList ol {
    padding-right: 10%; }
    .helpVideoList ol li {
      font-family: "Lato", sans-serif;
      color: #5D5D5D;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      line-height: 1;
      width: 80%;
      margin-left: 18%;
      margin-bottom: 20px; }
      .helpVideoList ol li p {
        font-family: "Lato", sans-serif;
        color: #5D5D5D;
        font-size: 17px;
        max-width: 380px; }
      .helpVideoList ol li span {
        font-size: 13px;
        padding-left: 50px;
        color: #aaaaaa; }

.currentlyPlaying,
.finished {
  position: relative; }
  .currentlyPlaying::before,
  .finished::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center; }

.finished {
  text-decoration: line-through; }
  .finished::before {
    background-image: url("../images/checkmark.svg"); }
  .finished span {
    display: none; }

.currentlyPlaying {
  font-weight: bold; }
  .currentlyPlaying::before {
    background-image: url("../images/play.svg");
    background-size: auto 100%; }

.time {
  font-size: 15px;
  margin-left: 75px;
  text-decoration: none; }

.dashboard {
  width: 100%;
  flex: 1 1 auto;
  padding-top: 20px;
  padding-left: 75px; }
  .dashboard h1 {
    font-family: 'Open sans', sans-serif;
    color: #5D5D5D;
    font-size: 35px;
    display: inline; }
  .dashboard hr {
    margin-bottom: 10px;
    margin-left: 25px;
    border: #EDB867 1px solid;
    width: 60%;
    display: inline-block; }

.mainContent {
  display: flex;
  flex-direction: row;
  height: calc(100% - 100px); }

.myStore {
  display: flex;
  flex-direction: row;
  margin-top: 30px; }
  .myStore .myStoreLeft {
    width: 35%;
    margin-right: 15%;
    flex: 0 0 auto; }
    .myStore .myStoreLeft p {
      margin-top: 20px;
      width: 320px;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      color: #5D5D5D; }
  .myStore .myStoreRight {
    width: 35%;
    flex: 0 0 auto; }
  .myStore section {
    flex-direction: row; }

.goShopping {
  display: flex;
  flex-direction: row;
  margin-top: 30px; }
  .goShopping p {
    margin-top: 20px;
    width: 75%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #5D5D5D; }

@media screen and (max-width: 1300px) {
  .myStore .myStoreRight {
    align-self: center;
    width: 40%; }
  .myStore .myStoreLeft p {
    width: 100%; } }

@media screen and (max-width: 1220px) {
  .myStore .myStoreRight {
    align-self: center;
    width: 40%; }
  .myStore .myStoreLeft p {
    width: 100%; } }

.button {
  background-color: #EDB867;
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 50px;
  width: 300px;
  border-radius: 0.07in;
  border: none;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  padding-left: 25px;
  cursor: pointer; }

.button:hover {
  background-color: #C19457; }

.btnStore {
  margin-bottom: 20px; }

.persona {
  background-color: #EA6F6C;
  text-align: left;
  height: 78px;
  width: 300px;
  border-radius: 0.1in;
  padding-left: 25px;
  display: flex; }
  .persona h3 {
    font-size: 27px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px; }
  .persona img {
    height: 68px;
    margin-top: 10px;
    margin-left: 40px; }

.personaSmall {
  background-color: #EA6F6C;
  margin-top: 30px;
  margin-right: 20px;
  height: 35px;
  width: 100px;
  font-size: 17px; }

.personaSmall.one:hover {
  background-color: #AA4444; }

.personaSmall.two:hover {
  background-color: #547072; }

.one {
  background-color: #EA6F6C; }

.two {
  background-color: #87B8C2; }

@media screen and (max-width: 1300px) {
  .button {
    text-align: center;
    width: 200px;
    font-size: 20px;
    padding: 0; }
  .btnStore {
    text-align: center;
    width: 200px;
    font-size: 20px;
    padding: 0;
    display: block;
    float: right;
    margin-right: 40px;
    align-self: center; }
  .persona {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; }
    .persona img {
      display: none; }
    .persona h3 {
      text-align: center;
      font-size: 22px;
      padding: 0; } }

.budgetBar {
  height: 185px;
  position: fixed;
  display: flex;
  bottom: -120px;
  width: 100%;
  background-color: #AA4444;
  transition: bottom 0.5s; }
  .budgetBar h2 {
    top: 65px;
    left: 0;
    width: 100%;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    margin-left: 40px;
    margin-top: 10px;
    color: white; }
  .budgetBar p {
    top: 110px;
    left: 0;
    width: 80%;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    margin-left: 40px;
    margin-top: 10px;
    color: white; }
  .budgetBar .bar {
    width: 100%;
    height: 65px;
    background-color: #EA6F6C;
    display: flex;
    position: absolute;
    justify-content: space-between; }
    .budgetBar .bar h3 {
      color: white;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 25px;
      font-weight: 600;
      align-self: center; }
      .budgetBar .bar h3 span {
        font-weight: 400; }
    .budgetBar .bar h3:first-of-type {
      margin-left: 17%; }
    .budgetBar .bar a {
      text-decoration: none;
      align-self: center; }
      .budgetBar .bar a span {
        color: white;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 25px;
        font-weight: 600;
        text-decoration: none;
        margin-right: 25px; }
    .budgetBar .bar .barLeft {
      height: 100%;
      width: 15%;
      position: absolute;
      background-color: #AA4444;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .budgetBar .bar .barLeft span h1 {
        color: white;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 25px; }

.budgetBar:hover {
  bottom: 0; }

.barUp {
  bottom: 0; }

@media screen and (max-width: 1000px) {
  .budgetBar .bar .barLeft span h1 {
    font-size: 20px; } }

@media screen and (max-width: 800px) {
  .budgetBar .bar .barLeft span h1 {
    font-size: 15px; } }

@media screen and (max-width: 700px) {
  .budgetBar .bar .barLeft span h1 {
    font-size: 15px; }
  .budgetBar .bar a span {
    visibility: hidden; }
  .budgetBar .bar a span:after {
    position: absolute;
    right: 5%;
    visibility: visible;
    content: 'store list';
    white-space: nowrap; } }

@media screen and (max-width: 600px) {
  .budgetBar .bar .barLeft span {
    visibility: hidden; }
  .budgetBar .bar .abrLeft span:after {
    visibility: visible;
    content: '#1'; } }

.admin {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  flex-direction: row; }

.sidebar {
  height: 100%;
  width: 15%;
  background-color: #5D5D5D; }
  .sidebar ul {
    height: 100%; }
    .sidebar ul li {
      padding-top: 25px;
      height: 80px;
      color: white;
      font-size: 20px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      text-align: center;
      cursor: pointer; }

.selectedTab {
  background-color: #828282; }

.studentList {
  height: 100%;
  width: 15%;
  background-color: white; }
  .studentList .searchBar {
    height: 40px;
    position: relative; }
    .studentList .searchBar img {
      position: absolute;
      top: 7px;
      left: 7px; }
    .studentList .searchBar input {
      display: inline;
      margin-left: 20px;
      height: 100%;
      width: calc(100% - 40px);
      border: none;
      padding-left: 20px;
      font-size: 20px;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-style: italic;
      color: #5D5D5D; }
    .studentList .searchBar input:placeholder {
      color: #E0E0E0; }
    .studentList .searchBar input:focus {
      outline-width: 0; }
  .studentList ul {
    height: calc(100% - 40px);
    overflow: scroll; }
    .studentList ul li {
      width: 100%;
      padding-left: 20px;
      background-color: #F2F2F2;
      color: #5D5D5D;
      list-style: none;
      height: 35px;
      padding-top: 5px;
      text-transform: uppercase;
      font-size: 20px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      cursor: pointer; }
    .studentList ul li:nth-child(2n) {
      background-color: #E0E0E0; }

.studentInfo {
  height: 100%;
  width: 70%; }
  .studentInfo h1 {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #5D5D5D; }
